div#map { 
    position:absolute; 
    top:250px; 
    bottom:0; 
    width:100%; 
}

.jumbotron.my{
    padding: 2rem 1rem;
}

#plot {
    width:1200px; 
    height:750px;
    display: none;
    
}

.full-screen {
    width: 100vw !important;
    height: 100vw !important;
    border: 1px solid lightgray;
    left: 0;
}